<% content_for :heading do %>
    Your saved carts
<% end %>

<% if @carts %>
	<% @carts.each do |cart| %>
	<div class ="cart_contents">
		Cart
		</ul>
			<% cart.items.each do |item| %>
				<li><%= item.product.name %> x <%= item.qty %></li>
			<% end %>
		</ul>
	</div>
	<div class="cart_options">
		<%= button_to 'Shop with this cart', activate_cart_path(cart), :class => 'btn btn-inverse', :method => :get %>
		<%= button_to 'Checkout', review_cart_path(cart), :class => "btn btn-primary", :method => :get %>
	<% end %>
<% end %>

